<h1>Login</h1>
<p><%= button_to "Log in with Facebook", '/auth/facebook', class: "btn btn-outline-primary" %></p>
<p>or enter in your details below:</p>

<%= form_tag login_path do %>
  <label>Name: </label> <input type="name" name="user[name]" id="name"><br><br/>
  <label>Email: </label> <input type="email" name="user[email]" id="email"><br><br/>
  <label>Password: </label> <input type="password" name="user[password]" id="password"><br><br/>
  <input type="submit" value="Log In">
<% end %>
