	<div class="content">
	    <header>
			<h1>Welcome to our Volunteer Manager<br /></h1>
	    </header>
	    <p>Volunteer management allows you to create, update and edit volunteers and their roles, projects and tasks. </p>
  </div class>																
