<h1>All Projects</h1>
<% @projects.each do |project| %>
<h2>Project Name: <%= link_to project.name, project_path(project), class:'name' %></h2><br><br>
<% end %>


<%= link_to "Add Project", new_project_path(@project)%>
<%# <%= link_to "Edit Project", edit_project_path(@project)%> 

<%# %# <%= link_to "Projects This Year", projects/this_year(@project)%>




