<h2>Projects users created this year:</h2>
<% @projects.each do |project| %>
    <%= link_to project.name, project_path(project), class:'name' %>
    <h4> Date: <%= project.date.strftime('%B %d, %Y') %></h4><br><br>
<% end %>
