<% @projects.each do |project| %>
<h2>Projects this year: <%= link_to project.name, project_path(project), class:'name' %></h2><br><br>
<% end %>

<%# <%= render 'form' need to add @project lin in this_year method of controller and feed it into render form here to make this work* %>